.chatCont {
    max-width: 800px;
    margin: 20px auto;
}

.chatComponentContainer {
    padding : 0px 15px;
    display: flex;
}

.chatContacts {
    flex : 1;
    padding-right: 10px;
    border-right : 1px solid #d5d8dd;
}

.chatWindow {
    flex : 2;
    padding-left: 10px;
}

.chatTitle {
    padding : 10px 0px;
    border-bottom: 1px solid #d5d8dd;
    text-align: center;
}

.chatContactCont {
    border-bottom : 1px solid #d5d8dd;
    padding: 7px 0px;
}

.messageCont {
    display: flex;
    justify-content: flex-start;
    padding : 7px 5px;
    align-items: center;
}

.author {
    padding : 0px 8px;
}

.message {

}
