.chatCont {
    max-width: 800px;
    margin: 20px auto;
}

.chatComponentContainer {
    padding : 0px 15px;
    display: grid;
    grid-template-columns: 30% 70%;
}

.chatContacts {
    flex : 1;
    padding-right: 10px;
    border-right : 1px solid #d5d8dd;
}

.chatWindow {
    flex : 2;
    padding-left: 10px;
    overflow-x : hidden;
}

.chatTitle {
    padding : 10px 0px;
    border-bottom: 1px solid #d5d8dd;
    text-align: center;
}

.chatContactCont {
    border-bottom : 1px solid #d5d8dd;
    padding: 7px 0px;
    text-overflow: ellipsis;
}

.chatMessageCont {
    display: flex;
    justify-content: flex-start;
    padding : 7px 5px 7px 0px;
    align-items: center;
    border-bottom: 1px solid #d5d8dd;
}

.chat-window-messages {
    max-height: 420px;
    overflow-y: scroll;
}

.chat-post-form {
    display: grid;
    grid-template-columns: 85% 15%;
}

.chat-post-form-cont {
    margin-bottom: 15px;
    padding-top : 15px;
}

.chat-post-input {
    resize: none;
    min-height: 50px;
    overflow: hidden;
    border: 1px solid #d5d8dd;
    border-radius: 5px 0px 5px 5px;
}

.selected-chat {
    background-color: #f2f2f2;
}

.chat-post-form-btn {
    height : 50px;
    background-color: green;
    border : none;
    border-radius: 0px 5px 5px 0px;
    background-color: #2eb82e;
    color : #fff;
}

.author {
    padding : 0px 8px;
    font-size: .85em;
}

.message {
    font-size: .85em;
    word-break: break-word;
}

@media (max-width : 767px) {
    .chatComponentContainer {
        padding : 0px 7px;
        grid-template-columns: 40% 60%;
    }

    .chat-post-form {
        display: grid;
        grid-template-columns: 70% 30%;
    }
}
